.contact-hero {
  position: relative;
  width: 1602px;
  height: 594px;
  top: -1px;
  left: -2px;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
  color: #fff;
}

.contact-hero-background {
  position: absolute;
  width: 1602px;
  height: 594px;
  left: -2px;
  top: -1px;
  background: url('Premium Photo _ Technology Network Background_.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.contact-hero-overlay {
  position: absolute;
  width: 1602px;
  height: 594px;
  left: 3px;
  top: 0px;
  background: rgba(16, 16, 16, 0.35);
  z-index: 2;
}

.contact-hero-header {
  position: absolute;
  width: 1515.68px;
  height: 50px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-vector {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.logo-text {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.13px;
}

.navigation {
  display: flex;
  gap: 32px;
  transform: rotate(0.1deg);
}

.nav-item {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 24px;
}

.nav-item.bold {
  font-weight: 700;
}

.nav-item.active {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 24px;
}

.social-icon {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}

.contact-hero-content {
  position: absolute;
  top: 233px;
  left: 45px;
  width: 587px;
  z-index: 3;
}

.contact-hero-label {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-hero-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 96px;
  margin: 0;
  letter-spacing: 1px;
}

.contact-hero-subtext {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 20px;
}
/* Mobile-Specific Styles */
@media screen and (max-width: 768px) {
  .contact-hero {
  width: 100%;
  padding: 1.5rem;
}
.contact-hero-overlay{
  width: 100%;
}
 
  .contact-hero-content {
    position: relative;
    width: 100%;
    height: auto;
    top: 15%;
    left: auto;
    padding: 1rem;
    text-align: left;
  }
  .contact-hero-label {
    font-size: 1.5rem;
  }
  .contact-hero-title {
    font-size: 4.2rem;
  }
  .contact-hero-subtext{
    font-size: 1.5rem;

  }

}