.our-work {
  position: relative;
  background: #ffffff;
  max-width: 1600px;
  width: 100%;
}

.our-work-container {
  max-width: 1600px;
  margin: 5rem auto;
}

.our-work-heading {
  font-family: 'Urbanist', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 110%;
  color: #101010;
  Width: 416px;
  height: 132px;
  padding: 5rem 1.25rem 1.25rem;
  margin: 0 8rem;
}

.our-work-description {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
  color: #757b8a;
  max-width: 677px;
  margin: 0 8rem;
  padding: 1.25rem;
}

.our-work-cta {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 8rem;
  /* border: 2rem solid red; */
}

.project-card {
  display: flex;
  flex-direction: column;
  /* border: 1rem solid green; */
  height: 965px;
}

.project-image {
  height: 500px;
}

/* images */
.fitness-image {
  width: 486.24px;
  height: 753px;
  top: 530px;
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
}

.fitness-mini-image {
  width: 205px;
  height: 205px;
  position: absolute;
  top: 1064px;
  left: 370px;
  border: 20px solid white;
  border-radius: 10px;

}

.fitness-project-cta {
  Width: 481px;
  Height: 176px;
  margin-top: 4px;
  position: relative;
  top: 390px;
}

.news-image {
  width: 447px;
  height: 585px;
  position: absolute;
  top: 445px;
  left: 835px;
  border-radius: 10px;
  object-fit: cover;
}

.news-mini-image {
  Width: 188px;
  Height: 349px;
  position: absolute;
  top: 765px;
  left: 1065px;
  border-radius: 10px;
}

.news-project-cta {
  Width: 499px;
  Height: 193px;
  position: relative;
  margin-top: 4px;
  left: 0;
  top: 210px;
}

.matrimony-image {
  width: 469px;
  height: 537px;
  position: absolute;
  top: 1530px;
  border-radius: 10px;
  object-fit: cover;
}

.matrimony-mini-image {
  position: absolute;
  width: 211px;
  height: 469px;
  top: 1656px;
  left: 328px;
  border-radius: 10px;

}

.matrimony-project-cta {
  Width: 445px;
  Height: 158px;
  position: relative;
  margin-top: 4px;
  left: 0px;
  top: 240px;
}


.munchi-image {
  width: 609px;
  height: 609px;
  position: absolute;
  top: 1368px;
  left: 835px;
  border-radius: 10px;
  /* object-fit: cover; */

}

.munchi-mini-image {
  position: absolute;
  width: 273px;
  height: 483px;
  top: 1606px;
  left: 1055px;
  border: 35px solid white;
  border-radius: 10px;

}

.munchi-project-cta {
  Width: 477px;
  Height: 128px;
  position: relative;
  margin-top: 4px;
  left: 0;
  top: 240px;
}



.view-work-btn,
.view-details-btn {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #101010;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-icon {
  color: #2282A1;
  font-size: 18px;
}

.underline {
  width: 160px;
  height: 1px;
  background: #ffffff;
  margin-top: 4px;
}

.project-title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #101010;
}

/* Tablet: max-width 820px */
@media (max-width: 820px) {
  .our-work {
    border: 2px solid #ffffff;
  }

  .our-work-heading {
    font-size: 3rem;
    padding: 0 1rem 1rem;
    margin: 0 2rem;
    width: auto;
  }

  .our-work-description {
    font-size: 1.5rem;
    margin: 0 2rem;
    padding: 1rem;
  }

  .our-work-cta {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: -8%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 8rem;
    margin: 3rem 1rem;
  }

  .project-card {
    margin: 0 2rem;
    gap: 8rem;
    height: 1344px;
  }

  .fitness-image {
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    left: auto;
    border: none;
  }

  .fitness-mini-image {
    position: absolute;
    width: 50%;
    height: auto;
    top: 1200px;
    left: 336px;
  }

  .fitness-project-cta {
    position: relative;
    top: 520px;
    /* top: 235px; */
    left: 0;
    margin: 2rem 0;

  }

  .news-image {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: auto;
    border: none;
  }

  .news-mini-image {
    position: absolute;
    width: 35%;
    height: auto;
    top: 2490px;
    left: 487px;
  }

  .news-project-cta {
    position: relative;
    top: 410px;
    left: 0;
    margin: 2rem 0;

  }


  .matrimony-image {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: auto;
    border: none;
  }

  .matrimony-mini-image {
    width: 50%;
    height: auto;
    top: 3625px;
    left: 330px;
  }

  .matrimony-project-cta {
    position: relative;
    top: 475px;
    left: 0;
    margin: 2rem 0;
  }

  .munchi-image {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: auto;
    border: none;
  }

  .munchi-mini-image {
    width: 50%;
    height: auto;
    top: 5180px;
    left: 290px;
  }

  .munchi-project-cta {
    position: relative;
    top: 420px;
    left: 0;
    margin: 2rem 0;

  }

  .view-work-btn {
    font-size: 20px;
    position: relative;
    left: 45px;
  }
}

/* Mobile: max-width 480px */
/* @media (max-width: 480px) {margin-top: 1rem;
  .our-work-heading {
    font-size: 32px;
    padding: 3rem 1rem 1rem;
    margin: 0 1rem;
  }

  .our-work-description {
    font-size: 0.9rem;
    padding: 1rem 0;
    margin: 0 1rem;
  }

  .view-work-btn,
  .view-details-btn {
    font-size: 18px;
  }

  .project-title {
    font-size: 24px;
    line-height: 1.4;
  }

  .project-card {
    margin: 0 1rem;
    gap: 4rem;
  }

  .underline {
    width: 100px;
  }
} */