.core-values-section {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  padding: 40px;
  box-sizing: border-box;
}

.core-values-container {
  max-width: 1600px;
  margin: 0 auto;
}

.core-values-title {
  font-family: 'Urbanist', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  color: #101010;
  margin-bottom: 50px;
}

.core-values-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.value-card {
  width: 100%;
  max-width: 492px;
  min-height: 379px;
  border-radius: 16px;
  padding: 40px;
  box-sizing: border-box;
}

.integrity {
  background: #E0FECD;
}

.customer-focus {
  background: #FFF1ED;
}

.innovation {
  background: #F0F0FF;
}

.value-title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  top: -30px;
}

.value-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5A7184;
  width: 371px;
}


/* === Tablet (max-width: 820px) === */
@media screen and (max-width: 820px) {
  .core-values-section {
    padding: 40px 20px;
  }

  .core-values-title {
    text-align: left;
    padding: 2rem;
  }

  .core-values-cards {
    justify-content: center;
    flex-direction: column;
  }
  .value-description {
    text-align: justify;
    padding-left: 6rem;
  }
  .value-card {
    max-width: 90%;
    margin-left: 2rem;
  }
}

/* === Mobile (max-width: 480px) === */
@media screen and (max-width: 480px) {
  .core-values-section {
    padding: 40px 16px;
  }

  .core-values-title {
    font-size: 3.75rem;
    line-height: 120%;
    margin-bottom: 30px;
    text-align: left;
    padding: 2rem;
  }

  .value-title {
    font-size: 28px;
  }

  .value-description {
    text-align: justify;
    padding-left: 4rem;
  }

  .value-card {
    padding: 24px 24px 0 24px;
    margin-left: 2rem;
  }
}